div.cabecera{
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    align-items: center;
    background-color: gray;
    position: sticky !important;
    top: 0px;
    z-index: 1;
}

.nav-link {
    color: black;
}

article.articulo:hover {
    transform: scale(1.25);
    z-index: 1;
}

aside {
    background-color: ghostwhite;
    text-align: center;
    height: 100%;
    margin:10px;
    top: 15%;
    position: sticky !important;
}

article {
    background-color: rgb(247, 247, 247);
    border: solid black 1px;
    margin: 10px;
}

footer{
    text-align: center;
    font-style: italic;
}

button.boton {
    visibility: hidden;
    margin: 2px;
}